
h1{
    /* border: double 5px rgb(169, 157, 157); */
    /* color: rgb(243, 14, 14); */
    font-family: cursive;
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
    color: white;
}
li{
display: inline;
text-align: center;
margin-right: 200px;
margin-left: 190px;
}
img{
    /* border: double 5px rgb(236, 7, 7); */

    height: 100px;
    width: 200px;
    margin-left:150px;
    margin-right: 100px;
    margin-bottom: 100px;
}
#shopflask{
    margin-top: 120px;
    margin-left: 230px;
    margin-right: 110px;
    margin-bottom: 120px;
    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(149, 151, 159)
}

