body{
    background-color: rgb(111, 95, 121);
}
img{
    height: 200px;
    margin-left:680px;
    margin-right: 100px;
    margin-bottom: 100px;
    
}

#one{
    height: 150px;
    margin-left:730px;
    margin-right: 100px;
    margin-bottom: 100px;
    }

li{
    display: inline;
    margin-left: 190px;
    margin-right: 200px;
}

#aboutus{
    border: black solid 10px;
    margin-left: 150px;
    margin-right: 150px;
}
h1{
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    color: white;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 10px;
    
}

#two{
    color: white;
}

#three{
    color: white;
}

#four{ 
    color: white;
}

#five{
    color: white;
}

