body{
    background-color: rgb(78, 64, 87);
}
img{
    height: 200px;
    margin-left:150px;
    margin-right: 100px;
    margin-bottom: 100px;
}
li{

}
#aboutus{
    border: black solid 10px;
    margin-left: 150px;
    margin-right: 150px;
}

#one{
    color: white;
    }

#two{
    color: white;
}

#three{
    color: white;
}

#four{ 
    color: white;
}

#five{
    color: white;
}